.hero-section {
	display: flex;
	align-items: center;
}

.contact-icon {
	@apply px-2;
	cursor: pointer;

	div {
		@apply w-7;
	}

	&:hover {
		transition-duration: 0.1s;
		transform: scale(110%);
	}
}

.skill-icon {
	@apply px-4;

	div {
		@apply w-9;
	}

	&:hover {
		transition-duration: 0.25s;
		transform: scale(125%);
	}
}
