nav {
	position: fixed;
	display: flex;
    align-items: center;
	justify-content: space-between;
	width: 100%;
	@apply pt-8 pb-10;
}

.navbar-item {
    cursor: pointer;
	font-weight: 500;
    @apply select-none;
	@apply text-lg;

	&:not(&:last-child) {
		@apply pr-6;
	}

	&-container {
		display: flex;
	}
}

.logo {
	font-weight: 700;
    @apply select-none;
	@apply text-3xl;
}
